extends ./layout.jade

block content
   p The synth board is used for generating all of the clocks for the Digital, TX, and RX boards. This includes the on board IC clocks, JESD sysref clock, and synthesizer clocks. As shown in the block diagram above, there are a couple of configurations that are possible with the synth board. The 10MHz clock reference can be chosen between an internal or external SMA source. Moving along to the right side of the chain, the 10MHz steps up to 100MHz with a feedback circuit. This architecture maintains the high 10MHz source precision with low phase noise associated with the 100MHz PLL. The fanout buffer will propagate the 100MHz signal to the other boards (RX, TX, and Digital), and feed the LMK04828 to generate the JESD compliant signals.
   h3 Clock Configuration
   hr
   .container-fluid(style="text-align:center;")
      .row
         .col-md-2.right-pad-0
            p
               b External Reference Clock
            input(type="checkbox", name='en', unchecked)#ext_ref
         .col-md-2.right-pad-0
            p
               b External Sync
            input(type="checkbox", name='en', unchecked)#ext_sync
         .col-md-2.right-pad-0
            p
               b External VCO
            input(type="checkbox", name='en', unchecked)#ext_vco
   img(src="/img/synth_chain.svg", style="max-width: 100%;max-height: 100%;").center
   br
   h3 Clock Board Control
   hr
   .container-fluid
      .row
         .col-md-3
            b Channel IC's
            br
            .row
               .col-md-3.top-buffer-5.right-pad-0
                  | HMC987
               .col-md-3.top-buffer-5.right-pad-0
                  | LMK
               .col-md-3.top-buffer-5.right-pad-0
                  | LED
            .row
               .col-md-3.top-buffer-5.right-pad-0
                  button.btn.btn-default.btn-xs.btn-block#hmc_dump Dump
               .col-md-3.top-buffer-5.right-pad-0
                  button.btn.btn-default.btn-xs.btn-block#lmk_dump Dump
               .col-md-3.top-buffer-5.right-pad-0
                  button.btn.btn-default.btn-xs.btn-block#led Test
         .col-md-2
            b Board Version
            .row
               .col-md-6.top-buffer-5
                  button.btn.btn-default.btn-xs.btn-block#version Get
            br
            b Board Temperature
            .row
               .col-md-6.top-buffer-5
                  button.btn.btn-default.btn-xs.btn-block#temperature Get
            br
            b Lock Detect
            .row
               .col-md-1.top-buffer-5
                  span.glyphicon.glyphicon-ok(style="color:red;")
               .col-md-5.top-buffer-5
                  | 10 MHz
               .col-md-5.top-buffer-5
                  button.btn.btn-default.btn-xs.btn-block Refresh
            .row
               .col-md-1.top-buffer-5
                  span.glyphicon.glyphicon-ok(style="color:red;")
               .col-md-5.top-buffer-5
                  | 100 MHz
         .col-md-7
            b Console Output
            br
            textarea.form-control#cout(rows='10')
