extends ./layout.jade
block content
   p The synth board is used for generating all of the clocks for the Digital, TX, and RX boards. This includes the on board IC clocks, JESD sysref clock, and synthesizer clocks. As shown in the block diagram above, there are a couple of configurations that are possible with the synth board. The 10MHz clock reference can be chosen between an internal or external SMA source. Moving along to the right side of the chain, the 10MHz steps up to 100MHz with a feedback circuit. This architecture maintains the high 10MHz source precision with low phase noise associated with the 100MHz PLL. The fanout buffer will propagate the 100MHz signal to the other boards (RX, TX, and Digital), and feed the LMK04828 to generate the JESD compliant signals.
   h3 Clock Configuration
   hr
   .container-fluid(style="text-align:center;")
      .row
         .col-md-2.right-pad-0
            p
               b External Reference Clock
            input(type="checkbox", name='en', unchecked)#ext_ref
         .col-md-2.right-pad-0
            p
               b JESD DevClock Output
            input(type="checkbox", name='en', checked, readonly)#out_devclk_en
         .col-md-2.right-pad-0
            p
               b JESD SysRef Output
            input(type="checkbox", name='en', checked, readonly)#out_sysref_en
         .col-md-2.right-pad-0
            p
               b PLL Clock Output
            input(type="checkbox", name='en', checked, readonly)#out_pll_en
         .col-md-2.right-pad-0
            p
               b Oscillator Output
            input(type="checkbox", name='en', checked, readonly)#out_vco_en
            br
            br
   img(src="/img/tate-time-highlvl.svg", style="width: 75%; height: 25%;").center
   br
   h3 Clock Board Control
   hr
   .container-fluid
      .row
         .col-md-3
            b Channel IC's 
            br
            .row
               .col-md-3.top-buffer-5.right-pad-0
                  | HMC988
               .col-md-3.top-buffer-5.right-pad-0
                  | LMK
               .col-md-3.top-buffer-5.right-pad-0
                  | LED
            .row
               .col-md-3.top-buffer-5.right-pad-0
                  button.btn.btn-default.btn-xs.btn-block#hmc_dump Dump
               .col-md-3.top-buffer-5.right-pad-0
                  button.btn.btn-default.btn-xs.btn-block#lmk_dump Dump             
               .col-md-3.top-buffer-5.right-pad-0
                  button.btn.btn-default.btn-xs.btn-block#led Test
            br
            b Board Diagnostic
            .row
               .col-md-4.top-buffer-5
                  button.btn.btn-default.btn-xs.btn-block#diagnostic Get
            br
            br
            b Lock Detect Status: 
            br
            b Continuous Lock Status: 
            

                
         .col-md-2
            b Board Version
            .row
               .col-md-6.top-buffer-5
                  button.btn.btn-default.btn-xs.btn-block#version Get
            br
            b Board Temperature
            .row
               .col-md-6.top-buffer-5
                  button.btn.btn-default.btn-xs.btn-block#temperature Get
            br
            .row
                | &nbsp
                b JESD (MHz)
                | &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp   
                b PLL (MHz)
            
            .row
                | &nbsp
                | 10 
                | &nbsp &nbsp &nbsp &nbsp &nbsp 
                
                
                | 100
                | &nbsp &nbsp &nbsp &nbsp  
                
                | 10
                | &nbsp &nbsp &nbsp &nbsp &nbsp  
                
                | 100
            
            .row
                span.glyphicon.glyphicon-ok#jesd_pll1_ok(style="color:green;") 
                span.glyphicon.glyphicon-remove#jesd_pll1_no(style="color:red;")
                | &nbsp &nbsp &nbsp &nbsp   
                
                span.glyphicon.glyphicon-ok#jesd_pll2_ok(style="color:green;")
                span.glyphicon.glyphicon-remove#jesd_pll2_no(style="color:red;")
                | &nbsp &nbsp &nbsp &nbsp &nbsp   
                
                span.glyphicon.glyphicon-ok#pll_pll1_ok(style="color:green;")
                span.glyphicon.glyphicon-remove#pll_pll1_no(style="color:red;")
                | &nbsp &nbsp &nbsp &nbsp &nbsp  
                
                span.glyphicon.glyphicon-ok#pll_pll2_ok(style="color:green;")
                span.glyphicon.glyphicon-remove#pll_pll2_no(style="color:red;")
            .row
                span.glyphicon.glyphicon-ok#lol_jesd_pll1_ok(style="color:green;")
                span.glyphicon.glyphicon-remove#lol_jesd_pll1_no(style="color:red;")
                | &nbsp &nbsp &nbsp &nbsp 
                
                span.glyphicon.glyphicon-ok#lol_jesd_pll2_ok(style="color:green;")
                span.glyphicon.glyphicon-remove#lol_jesd_pll2_no(style="color:red;")
                | &nbsp &nbsp &nbsp &nbsp &nbsp 
                
                span.glyphicon.glyphicon-ok#lol_pll_pll1_ok(style="color:green;")
                span.glyphicon.glyphicon-remove#lol_pll_pll1_no(style="color:red;")
                | &nbsp &nbsp &nbsp &nbsp &nbsp  
                
                span.glyphicon.glyphicon-ok#lol_pll_pll2_ok(style="color:green;")
                span.glyphicon.glyphicon-remove#lol_pll_pll2_no(style="color:red;")
                
                .col-md-10.top-buffer-20
                    button.btn.btn-default.btn-xs.btn-block#refreshClock Refresh Clocks
                
            script.
                document.getElementById("jesd_pll1_no").style.visibility = "hidden";
                document.getElementById("jesd_pll2_no").style.visibility = "hidden";
                document.getElementById("pll_pll1_no").style.visibility = "hidden";
                document.getElementById("pll_pll2_no").style.visibility = "hidden";
                    
                document.getElementById("lol_jesd_pll1_no").style.visibility = "hidden";
                document.getElementById("lol_jesd_pll2_no").style.visibility = "hidden";
                document.getElementById("lol_pll_pll1_no").style.visibility = "hidden";
                document.getElementById("lol_pll_pll2_no").style.visibility = "hidden";
                    

         .col-md-7
            b Console Output
            br
            textarea.form-control#cout(rows='10', readonly)
