extends ./layout.jade

block content
   b This section is for experienced users who understand the raw commands to configure the boards. As of now, this feature should only be reserved for Per Vices for debugging purposes. Be aware that using this feature might cause the board to be in an improper state and result in a malfunction with the boards.
   h3 IC Information
   hr
   table(style="width:100%;").table
      thead(style="font-weight:bold;")
         tr
            td IC
            td Description
            td Purpose
            td Datasheet
            td Location
      tbody
         tr
            td AD5624R
            td Quad 12-bit nanoDACs
            td Voltage controlled attenuators, varactor, RF mixing
            td 
               a(href="http://www.analog.com/static/imported-files/data_sheets/AD5624R_5644R_5664R.pdf", target="_blank") Datasheet
            td TX,RX
         tr
            td ADC16DX370
            td Dual 16-bit ADC with JESD204B
            td RF IQ sampling
            td 
               a(href="http://www.ti.com/lit/gpn/adc16dx370", target="_blank") Datasheet
            td RX
         tr
            td ADRF6518
            td Variable Gain Amplifier with Baseband Filter
            td ADC driver before the ADC16DX370
            td 
               a(href="http://www.analog.com/static/imported-files/data_sheets/ADRF6518.pdf", target="_blank") Datasheet
            td RX
         tr
            td DAC38J84
            td Quad 16-bit DAC with JESD204B
            td RF IQ generator
            td 
               a(href="http://www.ti.com/lit/gpn/dac38j84", target="_blank") Datasheet
            td TX
         tr
            td GPIOX PCA9538
            td 8-bit GPIO Extender
            td GPIO extender to 8 pins with I2C
            td 
               a(href="http://www.nxp.com/documents/data_sheet/PCA9538.pdf", target="_blank") Datasheet
            td TX, RX
         tr
            td HMC830LP6G
            td Fractional-N PLL with VCO
            td 25-3000 MHz synthesizer to feed into HMC833LP6G
            td 
               a(href="http://www.hittite.com/content/documents/data_sheet/hmc830lp6g.pdf", target="_blank") Datasheet
            td TX, RX
         tr
            td HMC833LP6G
            td Fractional-N PLL with VCO
            td 25-6000 MHz synthesizer for RF mixing on the high band RF chain
            td 
               a(href="http://www.hittite.com/content/documents/data_sheet/hmc833lp6g.pdf", target="_blank") Datasheet
            td TX, RX
         tr
            td HMC987LP5E
            td Low Noise Fanout Buffer
            td Clock buffer prior to fanout into daughter boards
            td 
               a(href="https://www.hittite.com/content/documents/data_sheet/hmc987lp5e.pdf", target="_blank") Datasheet
            td Synth
         tr
            td LMK04828
            td Dual/Cascaded PLL
            td Clock generation for all the boards
            td 
               a(href="http://www.ti.com/lit/gpn/lmk04828", target="_blank") Datasheet
            td Synth
   br
   h3 Programming via Bootloader
   hr
   .container-fluid
      .row
         .col-md-1
               | Board
               select.form-control.input-sm#program_board
                  option(value="tx") TX
                  option(value="rx") RX
                  option(value="synth") Synth
                  option(value="dig") Digital
         .col-md-3
            | Hexfile
            input(type='file')#program_hexfile
         .col-md-2
            button.btn.btn-default.btn-md.disabled#program_start Program
   br
   h3 Raw Command Line Interface
   hr
   .container-fluid
      .row
         .col-md-1 Command: 
         .col-md-2
            input(type='text', style="width:100%;")#uart_cmd
         .col-md-1
            button.btn.btn-default.btn-sm#send_uart_cmd Send Command
      .row
         .col-md-7
            | Console Output
            br
            textarea.form-control#uart_out(rows='15')
         .col-md-5
            | Command History
            br
            textarea.form-control#uart_hist(rows='15')
