extends ./layout.jade

block content
   br
   br
   div(style="text-align:center")
      img(src="/img/cyan_front.png", style="width: 80%; height: 80%;")
   p For more information and support, please visit our 
      a(href="http://www.pervices.com/", target="_blank") site
      | .
