doctype html
html
   head
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/bootstrap-switch.min.css')
      link(rel='stylesheet', href='/css/crimson.css')
      h1#head
         a(href='/')
            input(type='image', src='/img/PV1.png')
         a(href='/')  Per Vices: #{title}
      ul#menu
         li
            a(href='/rx') RX Chain
         li
            a(href='/tx') TX Chain
         li
            a(href='/clock') Clock
         li
            a(href='/config') Configuration
         li
            a(href='/debug') Debug
   hr
   body
      block content
   #footer
      p Copyright Per Vices 2015. All rights reserved.
   script(src='/js/jquery.min.js')
   script(src='/js/bootstrap.min.js')
   script(src='/js/bootstrap-switch.min.js')
   script(src='/js/crimson.js')
