extends ./layout.jade

block content
   p This page allows the configuration of the entire transmit chain from the digital backend to the RF frontend. Select the channel that is being configured.
   p The digital signal comes from the FPGA and gets interpolated through the DSP chain on the FPGA. The interpolation can go up to a maximum of 322 MSPS and can be frequency adjusted prior to DAC conversion. The digital signal is sent to the RF frontend using the JESD serial interface, providing the DAC with both IQ channel values. The analog signal passes through an RF switch for high band and low band selection. The high band is reserved for signals greater than 500 MHz and the low band is reserved for signals under 500 MHz. The high band offers a frequency mixer for up-conversion up to a maximum of 6 GHz.
   ul.nav.nav-tabs
      li.active(role="presentation")
         a#chan_a Channel A
      li(role="presentation")
         a#chan_b Channel B
      li(role="presentation")
         a#chan_c Channel C
      li(role="presentation")
         a#chan_d Channel D
   br
   b Channel Enable 
   input(type="checkbox", name='en', unchecked)#chan_en
   h3 Radio Configuration
   hr
   img(src="/img/tx_chain.svg", style="max-width: 100%;max-height: 100%;").center
   h3 TX DSP Chain
   hr
   img(src="/img/tx_dsp.svg", style="max-width: 100%;max-height: 100%;").center
   br
   h3 TX Board Control
   hr
   .container-fluid
      .row
         .col-md-3
            b JESD Sync
            .row
               .col-md-4.top-buffer-5
                  button.btn.btn-default.btn-xs.btn-block Sync
            br
            b Channel IC's
            br
            .row
               .col-md-3.top-buffer-5.right-pad-0
                  | DAC
               .col-md-3.top-buffer-5.right-pad-0
                  | GPIOX
               .col-md-3.top-buffer-5.right-pad-0
                  | LED
            .row
               .col-md-3.top-buffer-5.right-pad-0
                  button.btn.btn-default.btn-xs.btn-block Test
               .col-md-3.top-buffer-5.right-pad-0
                  button.btn.btn-default.btn-xs.btn-block Test
               .col-md-3.top-buffer-5.right-pad-0
                  button.btn.btn-default.btn-xs.btn-block#tx_led Test
            .row
               .col-md-3.top-buffer-5.right-pad-0
                  button.btn.btn-default.btn-xs.btn-block Dump
               .col-md-3.top-buffer-5.right-pad-0
                  button.btn.btn-default.btn-xs.btn-block Dump
            br
            b Channel State
            br
            .row
               .col-md-4.top-buffer-5
                  button.btn.btn-default.btn-xs.btn-block Init
                  button.btn.btn-default.btn-xs.btn-block Demo
                  button.btn.btn-default.btn-xs.btn-block Mute
                  button.btn.btn-default.btn-xs.btn-block Reset
         .col-md-2
            b Board Version
            .row
               .col-md-6.top-buffer-5
                  button.btn.btn-default.btn-xs.btn-block Get
            br
            b Board Temperature
            .row
               .col-md-6.top-buffer-5
                  button.btn.btn-default.btn-xs.btn-block Get
         .col-md-7
            b Console Output
            br
            textarea.form-control#chist(rows='10')
