#menu {
	width:1500px;
	text-align:center;
	font-family:futura-pt;
	font-size:16px;
	font-style:normal;
	font-weight:300;
	/*background-color:rgb(230, 230, 230);*/
}

#menu ul {
	margin:0px;
}

#menu li {
	display: inline;
	padding-right: 80px;
	padding-left: 80px;
}

#menu a {
	text-decoration:none;
	color: rgb(35, 31, 32);
}

#menu a:hover {
	font-weight: bold;
}

#head a {
	text-decoration:none;
	color: #cb2026;
}

h1 {
	padding: 10px;
	text-align: center;
	font-family: futura-pt;
	color: #cb2026;
	font-weight: 400;
}
h2, h3 {
	color: #58D3F7;
	font-family: futura-pt;
	color: #cb2026;    
	font-weight: 200;    
}

body {
	width: 1500px;
	margin: 0% 8%;
	font-family: futura-pt, sans-serif;
	color: rgb(43, 43, 44);
	font-weight: 300;
}

#footer {
	margin-top: 30px;
	font-size: 11px;
}

ul.nav li a {
	color: #cb2026;
	font-weight: bold;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.inline-block {
	display: inline-block;
	vertical-align: top;
}

hr {
	border-color: #c0c0c0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.top-buffer-5  {margin-top: 5px;}
.top-buffer-10 {margin-top: 10px;}
.top-buffer-15 {margin-top: 15px;}

.right-buffer-5  {margin-right: 5px;}
.right-buffer-10 {margin-right: 10px;}
.right-buffer-15 {margin-right: 15px;}

.right-pad-0 {padding-right: 0px;}
.no-padding {padding: 0px;}
.padding-5  {padding: 5px;}
