doctype html
html
   head
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/bootstrap-switch.min.css')
      link(rel='stylesheet', href='/css/cyan.css')
      h1#head
         a(href='/')
            input(type='image', src='/img/PV1.png')
         a(href='/')  Per Vices: #{title}
      ul#menu
         li
            a(href='/rx') RX Chain
         li
            a(href='/tx') TX Chain
         li
            a(href='/clock') Clock
         li
            a(href='/config') Configuration
         li
            a(href='/debug') Debug
   hr
   body
      .modal.fade#loadingModal
         .modal-dialog
            .modal-content
               .modal-header
                  button.close(type='button', data-dismiss='modal') &times;
                  h4.modal-title Heating up RF Chain 
                     span.glyphicon.glyphicon-fire(style = "color:orange;")
               .modal-body
                  p Please standby as the RF chain is heated up...
      .modal.fade#adminModal
         .modal-dialog
            .modal-content
               .modal-header
                  button.close(type='button', data-dismiss='modal') &times;
                  h4.modal-title Restricted Feature 
                     span.glyphicon.glyphicon-eye-close
               .modal-body
                  p
                     | This feature should not be required for regular usage.
                     | It will place the RF chain out of sync.
                     | It should be used by Per Vices employees only.
               .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
      block content
   #footer
      p Copyright Per Vices 2019. All rights reserved.
   script(src='/js/jquery.min.js')
   script(src='/js/bootstrap.min.js')
   script(src='/js/bootstrap-switch.min.js')
   script(src='/js/socket.io.js')
   script(src='/js/cyan.js')
